@page
@model RazorPagesFeladat.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BarlangModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarlangModel.Nev)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarlangModel.Nev)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarlangModel.Hossz)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarlangModel.Hossz)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarlangModel.Kiterjedes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarlangModel.Kiterjedes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarlangModel.Melyseg)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarlangModel.Melyseg)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarlangModel.Magassag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarlangModel.Magassag)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarlangModel.Telepules)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarlangModel.Telepules)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.BarlangModel.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
